# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
fsim

# CMake files
cmake_install.cmake
Makefile
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Testing

# Google Test
gtest
*_test

# Cpplint
cpplint

# Vim temp files
*.swp

# gedit
*.*~
*~

# coveralls
*.gcov
*.gcov_tmp
coveralls.json
